* {
    font-family: $fmontserrat;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 0.8;
    font-weight: 700;
    margin: 20px 0;
}

h2 {
    font-weight: 700;
    font-size: 3.4375rem;
    line-height: 1.1;
}

h3 {}

h4 {}

a {
    color: $cblack
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.btn {
    border-style: solid;
    border-width: 2px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 32px auto 0 0;
    padding: 16px 46px 17px 45px;
    text-decoration: none;
    border-radius: 29px;
}

.card {
    color: $cblack;
    background-color: $bwhite;
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 20%);
    border-radius: 20px;
    padding: 20px;

    .thumbnail {
        width: 100%;
        height: 190px;
        border-radius: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    h2 {
        font-size: 2.125rem;
        line-height: 1.1;
    }
}